<div class="navigation">

  <a href="/about">About</a>
  <!-- <a href="/threeintro.html">Work</a> -->
  <a href="/webvr.html">WebVR</a>
  <!-- <a href="/test">Test</a> -->

  <!-- <%= link_to 'About', about_url %>

  <%= link_to 'Work', work_url %>

  <%#= link_to 'VR', vr_url %>

  <%= link_to 'Test', threejs_url %>

  <%= form_tag posts_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search], :placeholder => "search" %>
  <% end %> -->
</div>
